* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --base-color: white;
  --base-variant: #dbdbdb;
  --text-color: #000000;
  --secondary-text: #191919;
  --gradient-color: linear-gradient(
    90deg,
    rgba(9, 9, 15, 1) 64%,
    rgba(15, 207, 236, 1) 77%,
    rgba(4, 7, 42, 1) 96%
  );
}
.lightmode {
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #ffffff;
  --gradient-color: rgb(234, 234, 234);
}

h1 {
  color: var(--base-color);
}
h2 {
  color: var(--base-color);
  padding: 10px 16px;
}
h3 {
  color: var(--base-color);
  font-weight: 300;
  padding: 10px 6px;
}
h4 {
  color: #ffffff;
  font-size: xx-large;
}
h5 {
  color: var(--base-variant);
  font-weight: 400;
  padding: 5px 6px;
}
h6 {
  color: #bfbfbf;
  font-weight: 400;
  font-size: medium;
}
p {
  color: var(--base-variant);
}

ul {
  display: flex;
  gap: 50px;
}
li {
  color: var(--base-color);
}

#theme-switch {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg {
  fill: var(--primary-color);
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

header {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--text-color);
  box-shadow: 1px 0px 6px 5px #605f5fc7;
  position: sticky;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 8px 10px;
  color: var(--base-color);
  background-color: var(--text-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--gradient-color);
}
.background {
  background-image: url(../img/hero.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: cover;
}

button,
a {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  margin: 6px 7px;
}
button:hover {
  opacity: 0.9;
}

.btn-1,
.btn-1 a {
  background: #1a8fff;
  color: white;
}

.btn-2,
.btn-2 a {
  color: black;
}

.card {
  background-image: url(../img/card.webp);
  background-position: center;
  height: 68vh;
  width: 76vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #1a8fff;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 1rem 1rem 0 #10d6dd88;
}

.cardscroll {
  overflow: hidden;
  display: flex;
}

.cardbackground-1 {
  background: url(../img/play-card.webp);
  height: 70vh;
  width: 70vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardbackground-2 {
  background: url(../img/portflo.avif);
  background-position: right;
  height: 70vh;
  width: 58vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardbackground-3 {
  background: url(../img/log.png);
  height: 70vh;
  width: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardSame {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100vw;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.cardscroll {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
}

.cardscroll::-webkit-scrollbar {
  display: none;
}

.cretive {
  width: 30%;
  padding: 10px 23px;
}

.creativityMain {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.Creativity {
  width: 300px;
  background: var(--secondary-text);
  padding: 18px 10px;
}

img {
  width: 280px;
}

.viewPage {
  padding: 30px 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 11px;
  gap: 30px;
}

.sameContainer {
  width: 94vw;
  max-width: 600px;
  min-width: 300px;
  padding: 10px 15px;
  background-color: var(--secondary-text);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

label {
  color: var(--base-color);
}

input,
textarea {
  max-width: 100%;
  height: 34px;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  padding: 3px 5px;
}

textarea {
  min-height: 200px;
}

.btn-center {
  text-align: center;
}

.map {
  overflow: hidden;
  padding: 10px 5px;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  ul {
    display: none;
    position: absolute;
    background: var(--text-color);
    top: 78px;
    width: 100%;
    text-align: center;
    padding: 21px 6px;
  }
  ul.active {
    display: block;
  }
  li{
    color: var(--base-color);
  }
  .hamburger {
    color: var(--base-color);
    display: block;
  }

  .cretive {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .cardbackground-1,
  .cardbackground-3 {
    height: 24vh;
  }
  .cardbackground-2 {
    height: 20vh;
  }
  .card {
    height: 25vh;
  }
  .cardSame {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
